<div class="ui vertical inverted sidebar menu left">
    <a class="item" href="{{ path('home') }}">Accueil</a>
    <a class="item" href="{{ path('app_movies') }}">Films à l'affiche</a>
    {% if app.user %}
        <a class="item" href="{{ path('app_subscriptions', {'id': app.user}) }}">Inscriptions</a>
    {% endif %}
</div>