
.masthead .ui.menu .ui.button {
    margin-left: 0.5em !important;
}

.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #009C95 !important;
}