

.ui.inverted.button {
    margin-right: 10px !important;
}

#background {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('http://www.smart-magazine.com/content/uploads/2017/07/zurich-allianz-cinema.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
}

.top-menu-container {
    background: #1b1c1d;
}

.post-author {
    float: left;
}

.post-date {
    float: right;
}

.gmap-container {
    width: 100%;
    margin: 7rem 0 1.5rem 0;
}

.infos-container {
    align-self: start !important;
}

@media screen and (max-width: 991px) {
    /* start of large tablet styles */
    .gmap-container {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    /* start of large tablet styles */
    #inscription-button {
        margin-bottom: 1rem;
    }
}