body > .grid {
    height: 100%;
}

.column {
    max-width: 450px;
    margin: 0;
    position: absolute !important;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

body {
    background-color: #DADADA;
}

.welcome-container {
    text-align: center;
}