.top-column-content {
    text-align: center;
    padding: 0.5em;
}
iframe {
    height: 290px;
    width: 70%;
    float: right;
}

.pusher {
    height: 100%;
}

.left-floated {
    float: left;
}

.right-floated {
    float: right;
}

.thumbnail {
    float: left;
}

.item {
    margin: auto;
}

.button {
    width: 100%;
}

.ui.progress:last-child {
    margin: 0 0 0.5em !important;
}

.ui.grid>.row>.column {
    margin-top: 0;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 1280px) {
    #video-player {
        width: 360px;
        height: 215px;
    }
}

@media screen and (max-width: 992px) {
    #video-player {
        width: 300px;
        height: 215px;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    #video-player {
        width: auto;
        height: auto;
    }
}