.top-column-content {
    text-align: center;
    padding: 0.5em;
}
iframe {
    height: 290px;
    width: 70%;
    float: right;
    margin-bottom: 0.5em;
}

.pusher {
    height: 100%;
}

.left-floated {
    float: left;
}

.right-floated {
    float: right;
}

.thumbnail {
    display: flex;
    float: left;
}

.item {
    margin: auto;
}

.button {
    width: 100%;
}

.ui.progress:last-child {
    margin: 0 0 0.5em !important;
}

.ui.grid>.row>.column {
    margin-top: 0;
    margin-bottom: 1.5em;
}

@media screen and (max-width: 1540px) {
    iframe {
        width: 100%;
        float: right;
    }

    .thumbnail {
        display: none;
    }
}

@media screen and (max-width: 1280px) {
    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    iframe {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    iframe {
        width: 100%;
    }
}