<form class="ui large form" action="{{ path('app_comment_new', {'slug': post.slug}) }}" method="post">
    <div class="form-container">
        {{ form_start(form) }}
        {{ form_widget(form.content, {'attr': {'placeholder': "Ajouter un commentaire public..."}}) }}
        <button class="ui yellow button" type="submit">AJOUTER UN COMMENTAIRE</button>
        {{ form_end(form) }}
    </div>
</form>