<form class="ui large form" action="{{ path('app_reply_new', {'slug': post.slug, 'parent': comment}) }}" method="post">
    <div class="form-container">
        {{ form_start(form) }}
        {{ form_widget(form.content, {'attr': {'placeholder': "Ajouter une réponse publique..."}}) }}
        <button class="ui yellow button" type="submit">REPONDRE</button>
        {{ form_end(form) }}
    </div>
</form>
