{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/read_post.css') }}">
{% endblock %}

{% block page %}
    {% include 'includes/menu.html.twig' %}
        <div class="ui internally celled grid">
            <div class="row">
                <div class="three wide column"></div>
                <div class="ten wide column">
                    <h2>Mes Inscriptions</h2>
                    {% include 'includes/subscriptions.html.twig' %}
                </div>
                <div class="three wide column"></div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
